.App {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}
body {
  margin: 0%;
  padding: 0%;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");


/* Start Login */
.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #43a047;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background: #43a047;
  color: #fff;
  cursor: pointer;
}

.joinChatContainer button:hover {
  background: #2e7d32;
}

.chat-window {
  width: 300px;
  height: 420px;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;

  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}

/* End Login */
/* ----------------------------------------------------------------------------------------------- */
/* Start Home */

.Home{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}
.registration{
  display: flex;
  flex-direction: column;
  min-width: 50%;
  align-items: center;
  justify-content: center;
  border-right: solid 1px black;
  height: 500px;

}
.login{
  display: flex;
  flex-direction: column;
  min-width: 50%;
  align-items: center;
  justify-content: center;
  border-left: solid 1px black;
  height: 500px;
}
.Home label{
  margin-top: 10px;   
}
.Home button{
  margin-top: 20px;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}
.login input{
  margin-top: 10px;
}
.registration input{
  margin-top: 5px;
}

/* End Home */
/* ----------------------------------------------------------------------------------------------- */
/* Start Modal */

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.482);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 800px;
  height: 110px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modalContainer .modalMessage {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px;
  font-size: 30px;
}

/* End Modal */
/* ----------------------------------------------------------------------------------------------- */
/* Start K21 */

.k21{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}

.containerLeft{
  min-width: 30%;
  height: 100%;
}
.containerRight{
  background-color: #212121;
  min-width: 70%;
  height: 100%;
}
.headerLeft{
  min-height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
  font-size: 40px;
  padding-left: 10px;
  padding-right: 20px;
}
.addBtn{
  cursor: pointer;
}

.friendList{
  background-color: #3826a2;
  min-height: 90%;
}

/* End K21 */
/* ----------------------------------------------------------------------------------------------- */
/* Start MoadalAdd */

.modalAddBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.482);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalAddContainer {
  width: 400px;
  height: 670px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modalAddHeader{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 15px;
  border-bottom: solid 1px black;
}
.modalAddTitle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 30px;
  padding-top: 20px;
}
.closeBtn{
  font-size: 20px;
  color: gray;
  cursor: pointer;
  transition: 0.2s ease;
}
.closeBtn:hover{
  text-shadow: 1px 1px 2px black;
  font-size: 22px;
}
.modalAddInput{
  padding-top: 10px;
  padding-bottom: 10px;
}
.modalAddInput input{
  width: 300px;
  height: 30px;
  border-radius: 50px;
  font-size: 20px;
}
.modalAddList{
  min-height: 86%;
}

/* End MoadalAdd */
/* ----------------------------------------------------------------------------------------------- */


